
#container {
  margin: 0 auto;
  display: block;
  border: 3px solid grey;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#left {
  display: inline-block;
  width: 59%;
}
.enter {
  text-align: center;
  font-size: 4rem;
}
input {
padding: .6rem;
font-size: 1rem;
}
button {
  padding: .6rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: red;
  color: white;
}

#right {
  border: 1px solid grey;
  width: 40%;
}

#state {
  text-align: center;
}
